.abcptovalute::before {
  content: 'criptovalute';
}
.abcptovaluta::before {
  content: 'criptovaluta';
}
.abcpto::before {
  content: 'crypto';
}
.abctware::before {
  content: 'software';
}
.abcding::before {
  content: 'trading';
}
.abcder::before {
  content: 'trader';
}
.abcID-19::before {
  content: 'COVID-19';
}
.abcler::before {
  content: 'Tesler';
}
.abcanziaria::before {
  content: 'finanziaria';
}
.abcanziario::before {
  content: 'finanziario';
}
.abctech::before {
  content: 'fintech';
}
.abcanziari::before {
  content: 'finanziari';
}
.abcketing::before {
  content: 'marketing';
}
.abccato::before {
  content: 'mercato';
}
.abcmerciali::before {
  content: 'commerciali';
}
.abcmercia::before {
  content: 'commercia';
}
.abcRAZIONI::before {
  content: 'OPERAZIONI';
}
.abcoritmi::before {
  content: 'algoritmi';
}
.abcoritmica::before {
  content: 'algoritmica';
}
.abcITALIZZA::before {
  content: 'CAPITALIZZA';
}
.abcTIS::before {
  content: 'GRATIS';
}
.abcTUITAMENTE::before {
  content: 'GRATUITAMENTE';
}
.abcTUITO::before {
  content: 'GRATUITO';
}
.abctuita::before {
  content: 'gratuita';
}
